[Unit]
Description={{ app_name }} service with docker compose
Requires=docker.service network-online.target
After=docker.service network-online.target

[Service]
Type=simple
TimeoutStartSec=15min
Restart=always

RemainAfterExit=true
WorkingDirectory={{ app_base_path }}/{{ app_name }}

# Start
ExecStartPre={{ vmalert_docker_executable_path.stdout }} compose pull --quiet --ignore-pull-failures
ExecStartPre={{ vmalert_docker_executable_path.stdout }} compose build --pull
ExecStart={{ vmalert_docker_executable_path.stdout }} compose up -d --remove-orphans

# Start
ExecStop={{ vmalert_docker_executable_path.stdout }} compose down --remove-orphans

# Reload
ExecReload={{ vmalert_docker_executable_path.stdout }} compose pull --quiet --ignore-pull-failures
ExecReload={{ vmalert_docker_executable_path.stdout }} compose build --pull

[Install]
WantedBy=multi-user.target
